* {
    box-sizing: border-box;
    padding: 0;
}

#background img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.thumbnails img{
   height: 15vh; 
   width: auto;
   display: block;
}

.thumbnails {
    margin: 5px auto 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3px;
    flex-wrap: wrap;
    width: 100%;

    max-width: 100%;
    overflow-x: hidden;
    padding: 0 12px;
    box-sizing: border-box;

}

@media (max-width: 391px) {
    .thumbnails {
        flex-wrap: wrap;
        gap: 2px;
    }
    .thumbnails img {
        height: 45px;
        width: auto;
    }
    #background {
        height: 100px;
    }
}


#background {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-size: cover;
}

#ariaNotifications {
    position: absolute;
    left: -9999px;
}

.arrow-button {
    position: absolute;
    color: rgb(255, 251, 251);
    font-size: 35px;
    z-index:10;
    top: 50%;
    background-color: transparent;
    border: none;
}

#leftArrow {
    left: 10px;
}

#rightArrow {
    right: 10px;
}