* {
    box-sizing: border-box;
    padding: 0%;
}

background img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.thumbnails img{
   height: 15vh; 
   width: auto;
   display: block;
}

.thumbnails {
    margin-top: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3px;
    flex-wrap: wrap;
    width: 100%;

    max-width: 100%;
    overflow-x: hidden;
    margin: 0 auto;
    padding: 0 12px;
    box-sizing: border-box;

}

@media (max-width: 391px) {
    .thumbnails {
        flex-wrap: wrap;
        gap: 2px;
    }
    .thumbnails img {
        height: 45px;
        width: auto;
    }
}


background {
    width: 100vh;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-size: cover;
}
