* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

background img {
    object-fit: cover;
}

.thumbnails img{
   height: 15vh; 
}

.thumbnails {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6px;
}